{% extends "apartments/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Jerusalem Apartment Hunt</h1>
        <ul>
            <li><h2><a href="{% url 'apartments:new' %}">New</a></h2></li>
            <li><h2><a href="{% url 'apartments:interesting' %}">Interesting</a></h2></li>
            <li><h2><a href="{% url 'apartments:trash' %}">Trash</a></h2></li>
            <li><h2><a href="{% url 'apartments:settings' %}">Settings</a></h2></li>
        </ul>
    </div>
</div>
{% endblock %}
