{% extends 'apartments/layout.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>{{ title }}</h1>
        {% for post in apartment_posts %}
            <div class="panel panel-default" id={{ post.post_id }}>
                <div class="panel-heading">{{ post.user }}</div>
                <div class="panel-body">{{ post.message }}</div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default post-keep">Keep</button>
                    <button type="button" class="btn btn-default post-link">Link</button>
                    <button type="button" class="btn btn-default post-remove">Remove</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$().ready(function () {
    function getBtnPost(btn) {
        return $(btn).parent().parent();
    }

    function getId (btn) {
        return getBtnPost(btn).attr("id");
    }

    $(".post-link").click(function () {
        var id = getId(this);
        window.open("https://facebook.com/" + id);
    });

    $(".post-keep, .post-remove").click(function () {
        var base_url = "{% url 'apartments:post' %}";
        var id = getId(this);
        // Interet = 1 if it's a keeper and 0 if not
        var interest = +$(this).hasClass("post-keep");
        var parent = getBtnPost(this);

        $.ajax(base_url + "/" + id, {
            method: "PUT",
            data: {
                "interesting": interest
            },
            success: function () {
                console.log("Updated post: " + id);
                parent.fadeOut();
            }
        });
    });
});
</script>
{% endblock %}
